.board-index-container {
  /*border: 2px solid purple;*/
  padding: 20px;
}

.board-index-box {
  /*border: 2px solid orange;*/
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  margin: 10px;
}

.board-tile {
  /*border: 1px solid grey;*/
  background-color: rgb(0, 108, 170);
  display: flex;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  height: 100px;
}

.board-index-box a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.board-tile-text {
  padding: 10px;
}


.new-board-tile {
  /*border: 1px solid grey;*/
  display: flex;
  background-color: rgb(226, 228, 230);
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: 10px;
  color: rgb(129, 140, 145);
}

.new-board-tile-text {
  margin: auto;
}

.board-tile:hover {
  background-color: rgb(0, 93, 146);
}

.new-board-tile:hover {
  background-color: rgb(213, 218, 220);
  color: rgb(77, 77, 77);
}
