.card-detail-container {
  width: 570px;
  height: 600px;
  font-family: 'Roboto', sans-serif;
}

.card-detail-header {
  display: flex;
  justify-content: space-between;
}

.due-date-field-name {
  font-weight: bold;
}

.card-detail-description-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-detail-title h2 {
  margin-bottom: 10px;
}

.card-detail-description-body:hover {
  cursor: pointer;
}

.card-detail-description-body {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.desc-create {
  width: 99%;
  height: 100px;
  font-size: 14px;
}

.card-detail-description-entry {
  margin: 10px;
}

.card-detail-description-body:focus {
  outline: none;
  border: 1px solid lightblue;
  cursor: text;
}


.theme__inputElement___4bZUj:hover, .theme__inputElement___x7MhN:hover {
  background-color: lightblue;
}

.theme__input___lFVgC.theme__input___2ISvI {
}

.due-date-container {
  display: flex;
  align-items: center;
}

.due-date-select-prompt {
  margin-right: 5px;
}

.due-date-picker {
  padding-bottom: 12px;
  color: grey;
  text-decoration: underline;
  font-weight: bold;
}
