.comment-index-container {

}

.comment-index-box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

}

.comment-index-item-container {
  display: flex;
  margin-bottom: 10px;
}

.comment-index-item-box {
  border-bottom: 1px solid rgb(226, 228, 230);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.comment-index-item-author-name {
  margin-bottom: 5px;
}

.comment-index-item-body {
}

.comment-index-item-info {
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(129, 140, 145);
}

.comment-form-box {
  display: flex
}

.author-avatar {
  width: 34px;
  margin-right: 10px;
}

.author-initials {
  background-color: rgb(213, 218, 220);
  color: rgb(77, 77, 77);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;

}

.comment-form-container {
  margin-top: 15px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-form-body-input {
  height: 70px;
  font-size: 14px;
}

.save-comment-button {
  flex: none;
}
