.comment-index-container {

}

.comment-index-box {
  padding: 10px;
}

.comment-index-item-container {
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.comment-index-item-box {
  display: flex;
  flex-direction: column;
}

.comment-index-item-body {
}

.comment-index-item-info {
  margin-top: 5px;
  margin-bottom: 5px;
}
