.list-index-container {

}

.list-index-box {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  padding: 10px;
}

.list-index-item {
  width: 270px;
  flex: none;
  background-color: rgb(226, 228, 230);
  margin: 12px;
  border-radius: 5px;
}

.list-index-item-title {
  font-weight: bold;
  margin: 10px;
}

.new-list-tile {
  width: 250px;
  flex: none;
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(224, 224, 224,.7);
}

.new-list-tile:hover {
  cursor: pointer;
  background-color: rgba(178,178,178,.7);
}

.list-form-container {
  width: 250px;
  flex: none;
  margin: 12px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(226, 228, 230)
}

.list-form-input input {
  width: 100%;
  box-sizing: border-box;
}
