.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(0, 108, 170);
}

.site-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: auto;
  color: white;
}

.boards-button {

}

.logout-button {

}
