.errors {
  color: red;
}

.session-form-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid grey;
  margin: auto;
  width: 400px;
  border-radius: 10px;
}

.session-form-box {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.session-form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.session-form label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.session-input {
  margin: 10px;
}
