.errors {
  color: red;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid grey;
  margin: auto;
  padding: 5px;
  width: 400px;
  border-radius: 10px;
}

.session-form-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*border: 2px solid blue;*/
  padding: 5px
}

.session-form {
  display: flex;
  flex-direction: column;
  /*border: 2px solid green;*/
  flex-grow:
  padding: 5px;
  margin-top: 20px;
}

.session-form label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.session-input {
  margin: 10px;
}
