.app-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 5px solid green;
  height: 99vh;
}

.errors {
  color: red;
}

.session-form-container {
  border: 2px solid red;
  margin: auto;
  padding: 5px;
  width: 30%
}

.session-form-box {
  border: 2px solid blue;
  padding: 5px
}

.session-form {
  border: 2px solid green;
  padding: 5px
}

.session-input {

}
