/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}

body h1 {
  font-size: 30px;
  font-weight: bold;
}

.app-container {
  background-image: url(http://www.imgbase.info/images/safe-wallpapers/photography/mountains/29387_mountains_mountain_scene.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 99vh;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,0.15);
}



.content-area {
  padding: 20px;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

button {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-style: solid;
  border-color: green;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: lightgrey;
}

input[type=text], input[type=password] {
  font-size: 16px;
  padding: 5px;
}

a {
  text-decoration: none;
}
