/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

body h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
body h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
body h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
body h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
}
body h5 {
  display: block;
  font-size: .83em;
  font-weight: bold;
}
body h6 {
  display: block;
  font-size: .67em;
  font-weight: bold;
}

.app-container {
  background-image: url(http://res.cloudinary.com/rmldsn/image/upload/v1506552362/29387_mountains_mountain_scene_sx3era.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 99vh;
}

.content-area {
  padding: 20px;
  height: 100%;
  overflow-x: auto;
}

button {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: lightgrey;
}

input[type=text], input[type=password] {
  font-size: 16px;
  padding: 5px;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font: inherit;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font: inherit;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font: inherit;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font: inherit;
  font-size: 14px;
}
