/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require ./components/nav_bar.css
 *= require ./components/session_form.css
 */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}

body h1 {
  font-size: 30px;
  font-weight: bold;
}

.app-container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 99vh;
}
